$main-color: #f53d2d;
$submain-color: #f63;
$white-color: #fff;
$black-color: #000;
$text-black-color: #333;
$star-gold-color: rgb(255, 206, 62);

$mgt-nav-list: 4px; //? Margin top of header's nav
$mg-header-item: 8px; //? Margin of header's side

$nav-height: 30px + $mgt-nav-list;
$header-height: 120px;